# dependencies
node_modules/

#uploads files ,  no need to track them again n again 
uploads/

# environment variables
.env.local
.env

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# build output 
dist/
build/

# editor & OS-specific
.DS_Store
.vscode/